* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  background-color: #282C34;
  perspective: 1000px;
}

.left-side-app {
  position: fixed;
  left: -1000px;
  transition: all 1s;
}

.right-side-app {
  position: fixed;
  right: -3000px;
  transition: all 1s;
}
